table {
    padding: 0;
    border-spacing: 0;                
}

footer {
    text-align: center;
}

tfoot {
    background-color: #cccccc;
}

tfoot tr td{
    height: 26px;
}

.calendario tbody tr:nth-of-type(even) {
  background-color: #F4F6F6;
}

blockquote.quote {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(imagenes/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}

blockquote.quote span {
    display: block;
    background-image: url(imagenes/closequote1.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
}

body {
    margin-top: 0px; 
    margin-bottom: 0px; 
    font-family: Arial, Helvetica; 
    font-size: 14px;
}

.gtxnegro { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    font-weight: bold; 
    color: #000000; 
    background-color: #E6E6E6;
}

.aoscuro { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px; 
    color: #FFFFFF; background-color: #336699; 
    font-weight: bold;
}

.aclaro { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px; color: #FFFFFF; 
    background-color: #6699CC; 
    font-weight: bold 
}

.modulo {
    text-align: center;
    font-style: italic;
}

.semana {
    text-align: center;
}

.asueto {
    font-weight: bold;
    text-align: center;
}